/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #2C3E50; /* Texto gris oscuro */
  background-color: #F4F4F9; /* Fondo gris claro */
  line-height: 1.6;
  margin: 0 auto;
  max-width: 900px;
  padding: 20px;
}

/* Header */
header {
  text-align: center;
  background-color: #1B263B; /* Azul oscuro */
  color: white;
  padding: 30px 0;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
}

header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 15px;
}

header h1 {
  font-size: 2.5em;
  margin: 10px 0 5px 0;
}

header p {
  margin: 0;
  font-size: 1.2em;
}

header nav a {
  margin: 0 15px;
  color: #F39C12; /* Naranja */
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  background-color: #1B263B; /* Azul oscuro */
  color: white;
  border-radius: 10px;
}

footer div {
  margin-top: 10px;
}

footer a img {
  width: 30px;
  margin: 0 10px;
  transition: transform 0.3s;
}

footer a img:hover {
  transform: scale(1.2);
}

footer a {
  color: #F39C12; /* Naranja */
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

/* Blog Section */
.blog-post {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.blog-post p {
  margin: 0;
}

/* Responsiveness */
@media (max-width: 768px) {
  .main-header .container {
    flex-direction: column;
    text-align: center;
  }

  .main-header a {
    margin: 5px 0;
  }

  .hero h1 {
    font-size: 2em;
  }
}
